.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.main-menu ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.main-menu a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.main-menu a:hover {
  color: #400CCC; /* Example hover color */
}


.background {
    background-image: url('../images/test-bg-image.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 800px;
    width: auto;
    color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text div{
    margin:0;
}

h1{
    font-size: 5rem;
}

.quote{
  color: gainsboro;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}